<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to the world!!!</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="http://getspringy.com/springy.js"></script>
<script src="http://getspringy.com/springyui.js"></script>
<style type="text/css">
body {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

h3 {
	margin-top: 2rem;
}

.row {
	margin-bottom: 1rem;
}

.row .row {
	margin-top: 1rem;
	margin-bottom: 0;
}

[class*="col-"] {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 1px solid rgba(86, 61, 124, .2);
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
</style>
</head>
<body>
<script th:inline="javascript">
    var planetList = /*[[${listofPlanets}]]*/;
    var routeList = /*[[${routeList}]]*/;
</script>
<script>
var graph = new Springy.Graph();
var graphNodes = [];
var selectString = "";
for(var i=0;i<planetList.length;i++){
	var nodeLable=planetList[i].planetNode;
	graphNodes[planetList[i].planetNode]=graph.newNode({label:nodeLable});
	selectString+="<option value="+nodeLable+">"+nodeLable+"</option>";
}
console.log(selectString);
for(var i=0;i<routeList.length;i++){
	var sourceNode = routeList[i].planetOrigin;//graphNodes[routeList[i].planetOrigin];
	var destinationNode = routeList[i].planetDestination;//graphNodes[routeList[i].planetDestination];
	if(typeof graphNodes[destinationNode] != 'undefined' && typeof graphNodes[sourceNode] != 'undefined')
		graph.newEdge(graphNodes[""+sourceNode+""],graphNodes[""+destinationNode+""], {color:"#00A0B0"});
}

jQuery(function(){
  var springy = window.springy = jQuery('#springydemo').springy({
    graph: graph,
    nodeSelected: function(node){
      console.log('Node selected: ' + JSON.stringify(node.data));
    }
  });
});

function getShortestPath(){
	$.ajax({
		  type: "GET",
		  url:"ShortestPath/"+$('#sourcePlanet').val()+"/"+$('#destinationPlanet').val(),
		  data:"",
		  success:function(){
			  
		  },
		  dataType:"text"
	});
}

$( document ).ready(function() {
	$('.listPlanet').html(selectString);
});
</script>
<div class="container">
	<h1>Welcome to World!!!</h1>
<table class="table table-striped">
<tr><td>
<canvas id="springydemo" width="640" height="480" />
</td>
<td width="50%" valign="top">
	<table widht="100%">
	<tr><td colspan="3">Find The Shortest Path</td></tr>
	<tr><td>Source Planet</td><td>Destination Planet</td><td></td></tr>
	<tr><td><select class="listPlanet form-control" id="sourcePlanet"><option></option></select></td>
	<td><select class="listPlanet form-control" id="destinationPlanet"><option></option></select></td><td><button type="button" class="btn btn-primary" onclick="javascript:getShortestPath();">Find</button></td></tr>
	</table>
</td>
</tr>
</table>
</div>

</body>

</html>