<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to the world!!!</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style type="text/css">
body {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

h3 {
	margin-top: 2rem;
}

.row {
	margin-bottom: 1rem;
}

.row .row {
	margin-top: 1rem;
	margin-bottom: 0;
}

[class*="col-"] {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 1px solid rgba(86, 61, 124, .2);
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
</style>
</head>
<body>
	<div class="container">
		<h1>Welcome to World!!!</h1>
		<h3 th:text="'Route List From '+${planetCode}"></h3>
		<p>
			Distance and Traffic Delays
			<button>Add Route</button>
		</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Planet Destination</th>
			<th scope="col">Distance</th>
			<th scope="col">Traffic Delay</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="route: ${routeList}">
			<td scope="row">1</td>
			<td th:text="${route.planetDestination}">Mark</td>
			<td th:text="${route.distance}">Otto</td>
			<td th:text="${route.trafficDelay}">Otto</td>
			<td>Edit</td>
			<td>Delete</td>
		</tr>
	</tbody>
</table>
	</div>
</body>

</html>